*{ margin: 0px;
    padding: 0px;}

/* Menú*/
.container-fluid{background-color: #BFBFBF;
    color: #262626;
    font-family: 'Montserrat', sans-serif;}
.navbar-nav{ margin-left: auto; 
}

/* HEADER */
.header-content-right{ font-family:'Bebas Neue', cursive ;}
.header-content-right p{ font-family: 'Montserrat', sans-serif;}

/* CAROUSEL/NEW COLECTION*/

.header-content-left{font-family:'Bebas Neue', cursive ;}
.header-content-left p{ font-family: 'Montserrat', sans-serif;}

/* E-SHOP*/



/*FOOTER*/
.redes-container{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
position: relative;}


.redes-container a i{color: #BFBFBF;
font-size: 30px;
padding: 10px;
margin: 10px;
box-sizing: border-box;} 

.redes-container a i:hover {background-color: #262626;
transform: scale(1.1);}

.enterate{text-align: center;
    font-family: 'Bebas Neue', cursive ;
    font-size: 35px;
padding: 5px;}
.seguinos{ font-family: 'Montserrat', sans-serif; ;
    font-size: 20px;
text-align: center;}

h3{text-align: center;
    font-family: 'Montserrat', sans-serif;
font-size: 20px;}
    input{ width: 50% ;
        padding: 5px;
        border-radius: 10px;
    }

button{width: 80px;
background-color:#BFBFBF;
padding: 5px;
border-radius: 10px;
margin-left: 2px;
cursor: pointer;}

@media  screen and (max-width: 470px){
    input{width: 80%;}
    .derechos2{font-size: 20px;}
    .redes-container a i{font-size: 20px;}