/* MENU */
$color1:#158FBF;
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 300px;
    position: relative;
    
}

li{ 
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
   border: 1px solid $color1;
   width: auto;
margin:10px;
padding: 10px;
list-style:decimal-leading-zero;
position: relative;
left:150px;
}

ul li a{ text-decoration: none;
color:$color1;}

@media screen and ( max-width: 470px){
    li{ position: relative;
    left:80px;}
}
