<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo2.css">
    <title>Error 404</title>
</head>
<body>
    <div class="container_404">
    <img src="data:image/svg+xml;base64,PHN2ZyBpZD0iYm9sZF92MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTEyIDBjLTYuNjIgMC0xMiA1LjM4LTEyIDEyczUuMzggMTIgMTIgMTIgMTItNS4zOCAxMi0xMi01LjM4LTEyLTEyLTEyem0tNyA4LjVjMC0uNDEuMzQtLjc1Ljc1LS43NXMuNzUuMzQuNzUuNzVjMCAuNTUuNDUgMSAxIDFzMS0uNDUgMS0xYzAtLjQxLjM0LS43NS43NS0uNzVzLjc1LjM0Ljc1Ljc1YzAgMS4zOC0xLjEyIDIuNS0yLjUgMi41cy0yLjUtMS4xMi0yLjUtMi41em0xMi43NjEgMTEuMDVjLS4xOTUuMTk1LS40NTEuMjkzLS43MDcuMjkzcy0uNTEyLS4wOTgtLjcwNy0uMjkzYy0yLjM5Ni0yLjM5Ni02LjI5Ny0yLjM5Ni04LjY5MyAwLS4zOTEuMzkxLTEuMDIzLjM5MS0xLjQxNCAwcy0uMzkxLTEuMDIzIDAtMS40MTRjMy4xNzYtMy4xNzcgOC4zNDYtMy4xNzcgMTEuNTIxIDAgLjM5LjM5MS4zOSAxLjAyNCAwIDEuNDE0em0tMS4yNjEtOC41NWMtMS4zOCAwLTIuNS0xLjEyLTIuNS0yLjUgMC0uNDEuMzQtLjc1Ljc1LS43NXMuNzUuMzQuNzUuNzVjMCAuNTUuNDUgMSAxIDFzMS0uNDUgMS0xYzAtLjQxLjM0LS43NS43NS0uNzVzLjc1LjM0Ljc1Ljc1YzAgMS4zOC0xLjEyIDIuNS0yLjUgMi41eiIvPjwvc3ZnPg==" />
    <h1>404</h1>
    <H2>Page not found</H2>
    <a href="index.html">HOME</a>
</div>

</body>
</html>